html {
  box-sizing: border-box;
}

* *::before *::after {
  box-sizing: border-box;
}

:root {
  --main-btn-color: #ffffff;
  --second-btm-color: #212121;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --accente-color: #2196f3;
  --typical-margin: 30px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

section {
  display: flex;
  width: 1600px;
  margin: auto;
  justify-content: center;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----header---------*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.top-tex {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.head {
  background-color: #ffffff;
}

.logo-color {
  color: var(--accente-color);
}
/*------------------------------------HEADER--------------------*/
.header {
  margin: auto;
  border: 1px solid #ececec;
  align-items: center;
  width: 1600px;
  height: 80px;
  background-color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list.header-item: not (: last-child) {
  margin-right: 50px;
}

.header-nav {
  display: flex;
  margin-left: auto;
}

.header-list .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.color {
  color: var(--accente-color);
}

.header-logo {
  display: flex;
  margin-right: 70px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.header-contact {
  display: flex;
  margin-left: 50px;
  margin-left: 150px;
}
/*.header-contact .header-item+.header-item {
  margin-left: 50px;
}*/

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accente-color);
}
.header-tel {
  margin-left: 50px;
}
.header-link {
  margin-left: 50px;
}
/*------------------------------------HERO--------------------*/
.hero {
  display: flex;
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  text-align: center;
}

.hero-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 34px;
}

.section-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.btn-item {
  margin-right: 9px;
}

.hero-btn:focus,
.hero-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-content {
  display: flex;
}

.hero-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.hero-btn {
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accente-color);
  color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.hero-title {
  display: flex;
  justify-content: center;
  margin-top: 200;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-item {
  display: flex;
  margin: var(--typical-margin);
  padding: 30px;
  flex-grow: 1;
}
.hero-top-text .hero-text {
  display: flex;
}

.hero-text {
  display: flex;
}

.btn-title:hover,
.btn-title:focus {
  background-color: var(--accente-color);
  color: var(--main-btn-color);
  border: var(--accente-color);
}
.btn-title {
  display: inline;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: transparent;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 10px;
  min-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.hero-top-text {
  margin-bottom: 10px;
  min-width: 270px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.btn-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/*------------------------------------ABOUT--------------------*/
.about {
  margin-bottom: 94px;
  width: 1170px;
  height: 386px;
  justify-content: center;
}

.about-title {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  color: var(--second-title-color);
}

.manager {
  margin-bottom: 94px;
  width: 1170px;
  height: 386px;
  justify-content: center;
}
/*------------------------------------ABOUT TEAM-----------------*/

.about-list {
  display: flex;
  margin-bottom: 94px;
  margin-left: -30px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.about-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
}

.about-team {
  width: 1600px;
  justify-content: center;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f5f4fa;
}

.about-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
  text-align: center;
}

.about-team-item {
  flex-basis: calc((100% / 4) - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-team-title {
  display: flex;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  justify-content: center;
  color: var(--second-title-color);
}
.about-img {
  margin-top: var(--typical-margin);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.about-work {
  margin-bottom: var(--typical-margin);
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
/*------------------------------------PROJECT-----------------*/
.projects {
  width: 1230px;
  padding-top: 34px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  width: calc((100% - 90px) / 3);
}

.projects-box {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-title {
  min-width: 322px;
  min-height: 36px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.projects-sub-title {
  min-width: 322px;
  min-height: 30px;

  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

/*------------------------------------FOOTER-----------------*/

footer {
  margin: auto;
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer {
  display: inline-block;
  margin-top: 60px;
  margin-left: 215px;
}

.footer-logo {
  display: inline-block;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-address {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-list {
  display: -ms-inline-flexbox;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer-item {
  display: inline-flexbox;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--footer-link-color);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--main-btn-color);
}
.footer-mailto,
.footer-tel {
  color: var(--footer-link-color);
}
